// $$ indicates macro
const $$main = (argc int, argv string[]) => {
    const c = "Hello World";
};

//function with one statement
const myFunction = (a) => {
    
};

//function with more statements
const myFunction = (a, b) => {
    const c = a + b;
    c;
}

const a: int = 0;

struct Bob {
    height: int;
}

interface Carl of Bob {
    speak = () => {

    };

    breathe = () => {

    };
}

if 3 > 2 {

} else if 2 < 3 {

} else {

}