// $$ indicates macro
const $$main = (argc, argv) => {
    const c = "Hello World";
};

//function with one statement
const myFunction = (a) => {
    myFunction(1+1, "Hello World", identifier);
};

//function with more statements
const myFunction = (a, b) => {
    const c = a + b;
};

const a = 0;

if (3 > 2  or 3 < 4) {
    
}